@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,500;0,6..12,600;0,6..12,800;1,6..12,700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #E6EFF4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    font-weight: 700;
    color: #5d6870;
    text-transform: uppercase;
}

.weather-container {
    background-color: #5d6870;
    color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.credits {
    color: #5d6870;
    text-align: center;
    margin-top: 10px;
}

.credits a {
    text-decoration: none;
    color: #5d6870;
}

.credits a:hover {
    text-decoration: underline;
}
